*{
    margin: 0;
    padding: 0;
}

/* some common style */
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 53px;
    color: #131313;
}
.section-text{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
}
.btn-primary{
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 30px;

}
.primary-color{
    color: #727272;
}
.secondary-color{
    color: #FF900E;
}
.title-padding{
    padding-bottom: 24px;
}
.padding-text{
    padding-top: 24px;
}
.padding_text{
    padding-top: 10px;
}

/* ------------------------------
        this is nav area start 
    ------------------------------*/
header{
    background: rgba(255, 144, 14, 0.1);
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}
.navbar >ul{
    display: flex;
    list-style: none;
    gap: 50px;
}
.navbar >ul li{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 26px;
    color: #424242;
}
.navbar >ul li a{
    text-decoration: none;
}
/* ------------------------------
        this is nav area end 
    ------------------------------*/

/* ------------------------------
        this is landing page area start
    ------------------------------*/
.landing-page{
    padding-top: 100px;
    padding-bottom: 45px;
}
.landing-page-content{
    text-align: center;
}
.page-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    padding-bottom: 30px;
}
.page-banner img{
    width: 100%;
    margin-top: 50px;
}
/* ------------------------------
        this is landing page area end
    ------------------------------*/

/* ------------------------------
        this is quick list area start
    ------------------------------*/
.quick-list-area{
    display: flex;
    padding-top: 85px;
    padding-bottom: 130px;
    width: 100%;
}
.photo-gellary{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    max-width: 570px;
    width: 100%;
}
.photo-gellary img{
    width: 100%;
    height: 100%;
}
.quick-lists{
    width: 100%;
    max-width: 570px;
    padding-left: 73px;
    margin-top: 130px;   
}
/* ------------------------------
        this is quick list area end
    ------------------------------*/

/* ------------------------------
        this is feature area end
    ------------------------------*/
.features-area{
    display: flex;
}
.features-content{
    width: 100%;
    max-width: 500px;
    flex-shrink: 0;
}
.feature-right{
    width: 100%;
    max-width: 570px;
    text-align: right;
}
.border-left{
    border-left:#FF900E solid 5px;
    padding-left: 15px;
    border-radius: 5px;
}
.feature-all{
    padding-top: 30px;
}
.feature{
    margin-bottom: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px 30px;
}
.feature-title{
    font-size: 20px;
    font-weight: 600;
    color: #131313;
}

.feature-image img{
    width: 85%;
    height: 100%;
    overflow: hidden;
    position: static;
}
.year {
    width: 300px;
    height: 180px;
    background: #FF900E;
    border-radius: 8px;
    text-align: center;
    position: relative;
    top: -77px;
    left: 21px;
    align-items: center;
}
.year h3{
    font-size: 65px;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 2rem;
}
.year p{
    font-size: 16px;
    color: #FFFFFF;
}
/* ------------------------------
        this is feature area end
    ------------------------------*/


/* ------------------------------
        this is fact area start
    ------------------------------*/
.fact-area{
    padding-top: 130px;
    padding-bottom: 130px;
}
.facts{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}
.fact{
    height: 240px;
    width: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
}
.fact:hover{
    transform: rotate(3deg);
    transition: .5s;
}
.fact img{
    height: 45px;
    width: 45px;
    padding-top: 45px;
}
.fact h3{
    font-size: 45px;
    font-weight: 600;
    color: #424242;
    padding-top: 10px;
}
.fact p{
    font-size: 20px;
    font-weight: 600;
    color: #727272;
    padding-top: 5px;
}
/* ------------------------------
        this is fact area end
    ------------------------------*/

/* ------------------------------
        this is sponspors area start
    ------------------------------*/
.sponspors-area{
    padding-top: 50px;
    padding-bottom: 130px;
}
.sponspors-top{
    text-align: center;
}
.sponspors-logo{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.sponspors-logo img{
    width: 165px;
    height: 50px;
    filter: grayscale(100%);
}
/* ------------------------------
        this is sponspors area end
    ------------------------------*/

     /* ------------------------------
        this is Extra section ,like contact area start
    ------------------------------*/
.extra-section{
    background-color: #fff4e770;
}
.contact-area{
    display: flex;
    justify-content: space-between;
    padding-top: 130px;
    padding-bottom: 130px;
}
.contact-left p{
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 20px;
    color: #727272;
}
.contact-left p i{
    padding-right: 10px;
}
.socail-media{
    color: rgb(3, 3, 57);
    font-size: 2rem;
    padding-top: 50px;

}
.socail-media i{
    padding-right: 15px;
}
.contact-right input,textarea{
    color: black;
    height: 50px;
    width: 300px;
    border-radius: 5px;
    background-color: #fad6aaee;
    border: none;
    margin-bottom: 15px;
}
.input{
    font-size: 1rem;
    padding-left: 20px;
}
textarea{
    height: 80px;
    padding-top: 20px;
}
.btn-secondary{
    width: 300px;
    height: 50px;
}

     /* ------------------------------
        this is footer area start
    ------------------------------*/
footer{
    background-color: #FFF4E7;
}
.footer{
    text-align: center; 
    /* margin-bottom: 100px; */
}
.footer-text{
    font-size: 20px;
    font-weight: 400;
    color: #424242;
    padding: 30px 0;
}

/* ------------------------------
        this is sponspors area start
    ------------------------------*/

    /* this Moblie Responsive style */
@media only screen and (max-width:576px) {
    .container{
        width: 100%;
        max-width: 576px;
    }

    /* for navbar */
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 25px;
    }
    .navbar >ul{
        flex-direction: column;
        gap: 10px;
    }

    /* for landing page */
    .page-banner{
        text-align: center;
    }
    .page-banner img{
        width: 90%;
    }

    /* for quick list */
    .quick-list-area{
        flex-direction: column;
        
    }
    .photo-gellary{
        grid-template-columns: repeat(1,1fr);
       
    }
    .quick-lists{
        padding-left: 0;
        text-align: center;
        padding-bottom: 30px;
     
    }

    /* for features area */
    .features-area{
        flex-direction: column;
    }
    .feature-top{
        text-align: center;
    }

    /* for facts area */
    .fact-area{
        text-align: center;
    }
    .facts{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    /* for sponspore  */
    .sponspors-logo{
        flex-wrap: wrap;
    }
    
    /* extra area  */
    .contact-area{
        flex-direction: column;
        text-align: center;
    }
    .contact-right{
        padding-top: 30px;
    }
}

/* for teblet */
@media only screen and (min-width:577px) and (max-width:992px) {
    .container{
        width: 100%;
        max-width: 576px;
    }
    .navbar,.quick-list-area,.features-area,.contact-area{
        flex-direction: column;
    }
    .navbar >ul{
        padding-top: 30px;
    }

    /* for quick list area */
   
    .quick-lists{
        padding-left: 0;
    }
    .feature-image,.contact-right{
        padding-top: 30px;
    }
    /* for facts */
    .facts{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap:30px;
    }
    .sponspors-logo{
        flex-wrap: wrap;
    }
    .contact-area{
        text-align: center;
    }
}